* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
  color: #1a1919;
  font-family:'Libre Bodoni', serif; 
  display: block;
} 

body::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: url(images/bgplant.jpg);
    background-size: cover;
}

header {
    display: block;
} 

header h1 {
    font-size: 30px;
    color:#1a1919;
    margin: 0;
    display: inline;
} 

h1{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 

.nav{
    display: block;
    position:absolute;
    bottom: 10%;
    left: 25%;
    width: 100%;
    max-width: 600px;
} 
.acc-header{
    font-size: 6em;
    color: #1a1919;
    text-decoration: none;
    font-family: 'Libre Bodoni', serif;
    padding: 1%;

}
.acc-header:hover {
    font-style: italic;
    cursor: pointer;
}
.mymug{
    float: right;
    max-width: 200px;
    max-height:200px;
    border-radius: 50%;
}

#accordion {
    width: 100%;
    max-width: 900px;
    position: absolute;
    bottom: 5%;
    left: 15%;
   

}
/** This class will hide all the body by default **/
#accordion .acc-body{
    display : none;
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    min-height: 300px;
 }
 /** This class will show the body if it has "active" parent class. "active" class will be added to panel div **/
 #accordion .active .acc-body {
    display : block;
 }

 /* active and inactive classes */
.acc-header-active { 
    font-size: 1.5em;
    transition: all 1s;
}

 .parent {
     background-image:url(images/runbuddy.jpg);
     background-size: cover;
     width: 300px;
     height: 150px;
     position:relative;
     display: inline-block;
     padding-right: 15px;
     padding-bottom: 15px;
 } 
 .child {
     background-color:white;
     width: 100px;
     height: 50px;
     position:absolute;
     left: 0;
     bottom: 15px;
     padding:10px;
     box-sizing: border-box;
 }   

 .child a {
     text-decoration: none;
 }